.flex-con {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.flex-con-btn {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  padding: 10px;
}

.flex-it-btn {
  align-self: stretch;
}

.table-margin {
  margin:10px;
  max-width: 300px;
}

.main-title {
  margin-left: 20px;
  font-style:italic;
}